[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
requests = "*"
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
audiobooker = "*"
beautifulsoup4 = "*"
pydantic = "*"
httpx = "*"
fastapi-cache2 = {extras = ["memcache"], version = "*"}
dataclasses = "*"

[dev-packages]

[requires]
python_version = "3.9"
